:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: antiquewhite;
  background-color: #242424;
}

/* global styles */

body {
  margin: 0;
  inset: 0;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  text-transform: capitalize;
  font-size: 2em;
  margin-top: 0.5rem;
}

@media screen and (min-width: 450px) {
  h1 {
    font-size: 3em;
  }
}

button {
  text-align: center;
  width: 75%;
  border-radius: 8px;
  border: 2px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(27, 241, 226);
  cursor: pointer;
  transition: all 0.5s linear;
}

button:hover {
  background-color: #242424;
  border-color: rgb(27, 241, 226);
  color: rgb(27, 241, 226);
}

/*
==================
Cocktails Section |
==================
*/

.cocktailSection {
  display: grid;
  place-items: center;
  text-align: center;
}

.cocktailsDiv {
  display: grid;
}

.cocktailCard {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  background-color: antiquewhite;
  padding-bottom: 1rem;
  margin: 2rem 0;
  color: #242424;
  border-radius: 10%;
}

.cocktailImage {
  width: 100%;
  height: 20rem;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

@media screen and (min-width: 800px) {
  .cocktailsDiv {
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .cocktailsDiv {
    grid-template-columns: repeat(3, 1fr);
  }
}

.reloadButton {
  width: fit-content;
}

/*
==================

Single cocktail  |

=================
*/

.singleCocktailSection {
  text-align: center;
}

.singleCocktailImage {
  width: 80%;
}

.singleCocktailName {
  padding: 1rem;
  width: 100%;
  background-color: rgba(27, 241, 226, 0.57);
}

.dosageDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(27, 241, 226, 0.57);
  margin: 1rem;
}
.ingredientsList,
.measuresList {
  list-style: none;
  padding: 0;
}

.titleMeasure,
.titleIngredient {
  text-transform: uppercase;
  text-decoration: underline;
  padding: 0.5rem;
}

.singleCocktailSection p {
  margin: 0 2rem 1rem 2rem;
  text-align: center;
}

.singleCocktailSection h3 {
  margin: 0 2rem 0 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: solid 2px rgba(27, 241, 226, 0.57);
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  .singleCocktailSection {
    display: grid;
    place-items: center;
    grid-template-columns: 0.75fr 1fr;
    column-gap: 1rem;
    padding-right: 2rem;
    height: 90vh;
  }

  .singleCocktailName {
    background-color: unset;
  }

  .singleCocktailImage {
    max-height: 350px;
    width: auto;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .singleCocktailImage {
    max-height: 450px;
  }
}

.backButton {
  text-transform: capitalize;
  width: fit-content;
  position: absolute;
  left: 2%;
  top: 4%;
}

/*
=============
Loading     |
=============
*/

.loadingPage {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 50vh;
}

/*
=========
Error   |
=========
*/

.errorPage {
  text-align: center;
}
