:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  -webkit-text-size-adjust: 100%;
}

/* global styles */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  text-align: center;
  width: 75%;
  border-radius: 8px;
  border: 2px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #76c3e4;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 2rem;
  min-height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;
}

/*
=================
Cocktails Section
=================
*/

.cocktailSection {
  display: grid;
  place-items: center;
}

.cocktailsDiv {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

.cocktailCard {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 20rem;
  background-color: antiquewhite;
  padding-bottom: 1rem;
  margin: 1rem;
  color: #242424;
}

.cocktailImage {
  width: 100%;
  height: 20rem;
}

@media screen and (min-width: 800px) {
  .cocktailsDiv {
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

/*
==================

Single cocktail

=================
*/

.singleCocktailImage {
  width: 80%;
}

.singleCocktailName {
  padding: 1rem;
  width: 100%;
  color: antiquewhite;
  background-color: rgba(27, 241, 226, 0.37);
}

.dosageDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(27, 241, 226, 0.57);
  margin: 1rem;
}
.ingredientsList,
.measuresList {
  list-style: none;
  padding: 0;
}

.titleMeasure,
.titleIngredient {
  text-transform: uppercase;
  text-decoration: underline;
  padding: 0.5rem;
}

.singleCocktailSection p {
  margin: 0 2rem 1rem 2rem;
  text-align: center;
}

.singleCocktailSection h3 {
  margin: 0 2rem 0 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: solid 2px rgba(27, 241, 226, 0.57);
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .singleCocktailSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .singleCocktailName {
    background-color: unset;
  }

  .singleCocktailImage {
    max-height: 450px;
    width: auto;
    padding-left: 1rem;
  }
}
